<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->

  <main>
    <div style="display: flex">
      <application name="@arctrade-app/navigation"></application>
      <route path="crm">
        <application name="@arctrade-app/crm"></application>
      </route>
    </div>

  </main>
</single-spa-router>
